[submodule "DEKR"]
	path = DEKR
	url = git@github.com:HRNet/DEKR.git
[submodule "EpipolarPose"]
	path = EpipolarPose
	url = git@github.com:mkocabas/EpipolarPose.git
[submodule "CrowdPose"]
	path = CrowdPose
	url = git@github.com:Jeff-sjtu/CrowdPose.git
